body{
overflow-x:hidden;
background:hsla(0,0%,76%,.38);
}
section#home{ line-height:0;}
#slider{
  position:absolute;
}
.limpiar-slider{
  margin-bottom:440px;
}
.menu-principal{
position:fixed;
top:50%;
left:0;
}
nav .brand-logo{
    position:absolute;
    display:inline-block;
}
a .logo-resplandor-blindex{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity:.1;
    transition:all .3s linear;
    -webkit-animation:a 6s linear infinite 0s;
    animation:a 6s linear infinite 0s;

    -webkit-animation-delay:6s;
    animation-delay:6s;
}

@-webkit-keyframes a{
	0%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	    opacity:.1;
	    -webkit-animation-timing-function:ease-in;
	}
	20%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	    -webkit-animation-timing-function:ease-out;
	}
	70%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	}
	85%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	    opacity:.3;
	}
	to{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; opacity:.1 }
}
@keyframes a{
	0%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	    opacity:.1;
	    -webkit-animation-timing-function:ease-in;
	            animation-timing-function:ease-in;
	}
	20%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	    -webkit-animation-timing-function:ease-out;
	            animation-timing-function:ease-out;
	}
	70%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	}
	85%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	    opacity:.3;
	}
	to{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; opacity:.1 }
}
a .logo-resplandor-icono{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity:1;
  transition:all .3s linear;
  -webkit-animation:b 6s linear infinite 0s;
  animation:b 6s linear infinite 0s;
  -webkit-animation-delay:6s;
  animation-delay:6s;
}
@-webkit-keyframes b{
	0%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	    -webkit-animation-timing-function:ease-in;
	}
	20%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	    opacity:.4;
	    -webkit-animation-timing-function:ease-out;
	}
	70%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	    opacity:.1;
	}
	85%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	    opacity:.4;
	}
	to{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; opacity:1 }
}
@keyframes b{
	0%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity:1;
	    -webkit-animation-timing-function:ease-in;
	            animation-timing-function:ease-in;
	}
	20%{
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	    opacity:.4;
	    -webkit-animation-timing-function:ease-out;
	            animation-timing-function:ease-out;
	}
  70%{
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      opacity:.1;
  }
  85%{
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      opacity:.4;
  }
  to{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; opacity:1 }
}

.logo-base{
    z-index:1;
}
.logo-glass{
    width:335px;
    top:235px;
    left:-21px;
}
.logo-glass,.slogan{
    position:absolute;
}
.slogan{
    top:254px;
    left:34px;
}
.slogan h3{font-family:Roboto,sans-serif;font-size:15px;text-transform:uppercase;font-weight:600;line-height:16px;text-align:center;padding:0;text-shadow:0 3px 6px #002a75;color:hsla(0,0%,100%,.91);}
    .container{
    width:85%;
}
.parallax-container{
    height:160px;
}
article h3{
  background:linear-gradient(#ff0008,#7d1c20);
  color:#fff;
  text-align:center;
  font-size:34px;
  border-radius:17px 17px 0 0;
  margin:15px 0;
  text-transform:capitalize;
  line-height:45px;
}
article{
  margin:0 20px 20px 30px;text-align:justify;float:inherit;
  border-bottom:2px solid rgba(0,42,117,.35);
}
article .col.derecha{
  float:right;
}
article .col.izquierda{
  float:left;
}
article .imagen{
  margin-top:15px;
  margin-bottom:12px;
}
article .imagen .materialboxed{
  border:4px solid #b7b7b7;
  border-radius:9px;
  padding:0;
}
article p{
  font-size:19px;
}
ul.lista-menu li{
    position:relative;line-height:54px;
}
ul.lista-menu li a{width:100%;font-size:14.5px;line-height:1.5;margin-left:0;margin-right:0;text-transform:uppercase;height:50px;padding-left:2px;padding-right:2px;padding-top:3px;}
.btn{
color:#fff;text-align:center;  font-weight:700;  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
border:1px solid #000000;
border:1px solid rgba(0,0,0,.5);  border-bottom:3px solid rgba(0,0,0,.5);  border-radius:3px;
background:hsla(0,0%,71%,.25);  -o-box-shadow:0 2px 8px rgba(0,0,0,.5),inset 0 1px hsla(0,0%,100%,.3),inset 0 10px hsla(0,0%,100%,.2),inset 0 10px 20px hsla(0,0%,100%,.25),inset 0 -15px 30px rgba(0,0,0,.3);
box-shadow:0 2px 8px rgba(0,0,0,.5),inset 0 1px hsla(0,0%,100%,.3),inset 0 10px hsla(0,0%,100%,.2),inset 0 10px 20px hsla(0,0%,100%,.25),inset 0 -15px 30px rgba(0,0,0,.3);  display:inline-block; text-decoration:none;
}
.btn:active,.btn:focus,.btn:hover{
    background-color:transparent;
    -webkit-transform:scale(.97);
    transform:scale(.97);
}
.lista-menu{position:absolute;   margin-top:85px;}
#nav-mobile .menu{
  font-size:10px;
  text-align:center;
  margin:0 0 10px;
}
nav ul.social_icons li a{
    padding:0;
    margin:0 3px;
    line-height:0;
    border-radius:38px;
}
nav ul.icons-inicio a{
  background:hsla(0,0%,100%,.18);
  line-height:30px;
  margin:0 3px;
  border-radius:10px 10px;
  transition:all .3s ease;
}
nav ul.icons-inicio a:hover{
     background:hsla(0,0%,88%,.14);
    cursor:pointer;
    line-height:40px;
    margin:0 3px;
    -webkit-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
#nav-mobile .btn{background-color:#0d47a1; padding:0;}
#nav-mobile .btn:hover{background-color:#779dff;}
.contenido{ margin-bottom:10px;}
.contenido h2{
  background:#002a75;
  padding:6px;
  color:#fff;
  text-align:center;
  margin:0;
  font-size:40px;
  text-transform:uppercase;
}
#materialbox-overlay{background-color:#00021c;background-color:rgba(0,2,28,.63);}
.materialbox-caption{font-size:25px;text-shadow:-2px 2px 1px #000;}
.contactos{
    background:#fff;
    margin-left:0;
    margin-right:0;
    border-right:5px solid #002a75;
    border-bottom:5px solid #002a75;
    border-left:5px solid #002a75;
}
.contactos h4{
    background:#002a75;
    padding:6px;
    color:#fff;
    text-align:center;
    margin:0;
}
.input-field{
    margin-top:0;
    line-height:.7;
}
.input-field .prefix{
    font-size:1.2em;
    left:15px;
    line-height:.6;
    color:#1f4896;
}
input:not([type]),input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],textarea.materialize-textarea{
    height:20.8px;
    height:1.3rem;
    border-bottom:1px solid #504896;
}
.input-field .prefix.active{
  color:#df0209;
}
input:not([type]):focus:not([readonly]),input[type=date]:focus:not([readonly]),input[type=datetime-local]:focus:not([readonly]),input[type=datetime]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=search]:focus:not([readonly]),input[type=tel]:focus:not([readonly]),input[type=text]:focus:not([readonly]),input[type=time]:focus:not([readonly]),input[type=url]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
  border-bottom:1px solid #df0209;
  box-shadow:0 1px 0 0 #df0209;
}
input:not([type]):focus:not([readonly])+label,input[type=date]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=datetime]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label{
  color:#df0209;
}
.input-field label{
    color:#878787;
    top:1.6px;
    top:.1rem;
    font-size:12.8px;
    font-size:.8rem;
}
footer.page-footer{
    padding-top:10px;
}
footer h1,footer h5{
    background:#002679;
    padding:4px;
    border-radius:5px 5px 0 0;
    margin:10px 0 0;
}
footer #datos{
      padding:14px 10px;
      height:150px;
      line-height:1.5;
      margin:0;
      border-radius:0 0 5px 5px;
      color:#fff;
      font-weight:400;
      text-shadow:-1px -1px 0 #000,0 0 0 #000,-1px 1px 0 #000,0 0 0 #000;
      border:1px solid #000000;
      border:1px solid rgba(0,0,0,.5);
      border-bottom:3px solid rgba(0,0,0,.5);
      background:hsla(0,0%,71%,.14);
      -o-box-shadow:0 2px 8px rgba(0,0,0,.5),inset 0 1px hsla(0,0%,100%,.3),inset 0 10px hsla(0,0%,100%,.2),inset 0 10px 20px hsla(0,0%,100%,.25),inset 0 -15px 30px rgba(0,0,0,.3);
      box-shadow:0 2px 8px rgba(0,0,0,.5),inset 0 1px hsla(0,0%,100%,.3),inset 0 10px hsla(0,0%,100%,.2),inset 0 10px 20px hsla(0,0%,100%,.25),inset 0 -15px 30px rgba(0,0,0,.3);
      text-decoration:none;
}
footer #datos p{
    margin:0;
}
ul.social_icons{
    list-style:none;
    padding:0;
    margin:0;
    display:block;
}
ul.social_icons li{
    display:inline-block;
    margin-right:5px;
    margin-top:11px;
    margin-bottom:10px;
}
ul.social_icons .fa-facebook{
    background:#2268d4;
    background:radial-gradient(#1286ff,#2268d4,#5cb4ff 110%);
}
ul.social_icons .fa-twitter{
    background:#20b8ff;
    background:radial-gradient(#00a6ff,#1fb7ff,#fff);
}
ul.social_icons .fa-google-plus{
    background:#d34836;
    background:radial-gradient(#ff5151,#ff3e3e,#801a1a);
}
ul.social_icons li a i{
      border-radius:50%;
      color:#fff;
      height:40px;
      line-height:40px;
      font-size:20px;
      padding:0;
      text-align:center;
      width:40px;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
          opacity:.75;
}

ul.social_icons .fa-facebook:hover,ul.social_icons .fa-google-plus:hover,ul.social_icons .fa-twitter:hover{
    transform:rotate(1turn);
    -ms-transform:rotate(1turn);
    -webkit-transform:rotate(1turn);
    transition-duration:2s;
    transition-property:all;
    transition-timing-function:ease;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity:1;
    transition:all .9s ease 0s;
    -moz-transition:all .9s ease 0s;
    -webkit-transition:all .9s ease 0s;
    -o-transition:all .9s ease 0s;
}
p.ah{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity:.6;
}
p.ah,p.ah:hover,p.ah a:hover{
    transition:.4s;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
}
p.ah:hover,p.ah a:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity:1;
    color:#fefefe;
}

footer .barra{
  background:linear-gradient(#002c5f,#103482,#1846ab,#062d82,#002679);
}
footer ul.servicios a{
  color:#fff;
  text-decoration:none;
  padding:1px 5px;
  margin-right:5px;
  text-shadow:1px 1px 1px #000,1px 1px 1px #000;
  border-radius:5px;
  background:#0062ad;
  background:rgba(0,98,173,.2);
  box-shadow:0 0 1px hsla(0,0%,100%,.7);
  margin-top:3px;
  margin-bottom:3px;
  display:inline-block;
  border-bottom:1px solid transparent;
  letter-spacing:.02em;
  transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -webkit-transition:all .4s ease-in-out;
}
footer div#datos a{
  background:hsla(0,0%,100%,.26);
  padding:3px;
  border-radius:10px 10px;
  color:#fff;
}
footer div#datos a:hover{
color:hsla(0,100%,71%,.83);
background:hsla(0,0%,100%,.26);
transition:.4s;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-webkit-transition:all .4s ease-in-out;
}
footer ul.servicios a:hover{background:hsla(0,0%,100%,.23); color:#fff; border-radius:3px;}
footer .redes-sociales{display:none;}
@media screen and (max-width:1200px){
  footer #datos{
      height:175px;
  }
}
@media screen and (max-width:993px){
  article .imagen{
      margin-top:0;}
 nav ul.icons-inicio,nav ul.social_icons{display:none;}
 footer .redes-sociales{display:block;}
 footer #datos{
     height:auto;
 }
   nav .brand-logo{
     margin-left:27px;    margin-left:-149px; left:50%;
   }
   nav .button-collapse{
       margin:20px -15px;
   }
   .logo-canvas{
     position:absolute;
     margin-top:-12px;
     margin-left:-228px;
     left:50%;
     width:441px;
     height:283px;
   }
}
