body{
overflow-x: hidden;
background: rgba(195, 195, 195, 0.38);
}
section#home{ line-height: 0;}
#slider{
  position: absolute;
}
.limpiar-slider{
  margin-bottom: 440px;
}
.menu-principal{
position: fixed;
top: 50%;
left: 0;
}
nav .brand-logo {
    position: absolute;
    display: inline-block;
}
a .logo-resplandor-blindex{
    opacity: 0.1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-animation: imageAnimation 6s linear infinite 0s;
    -moz-animation: imageAnimation 6s linear infinite 0s;
    -o-animation: imageAnimation 6s linear infinite 0s;
    -ms-animation: imageAnimation 6s linear infinite 0s;
    animation: imageAnimation 6s linear infinite 0s;

    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

@-webkit-keyframes imageAnimation {
	0% {
	    opacity: 0.1;
	    -webkit-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 1;
	    -webkit-animation-timing-function: ease-out;
	}
	70% {
	    opacity: 1;
	}
	85% {
	    opacity: 0.3;
	}
	100% { opacity: 0.1 }
}
@-moz-keyframes imageAnimation {
	0% {
	    opacity: 0.1;
	    -moz-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 1;
	    -moz-animation-timing-function: ease-out;
	}
	70% {
	    opacity: 1;
	}
	85% {
	    opacity: 0.3;
	}
	100% { opacity: 0.1 }
}
@-o-keyframes imageAnimation {
	0% {
	    opacity: 0.1;
	    -o-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 1;
	    -o-animation-timing-function: ease-out;
	}
	70% {
	    opacity: 1;
	}
	85% {
	    opacity: 0.3;
	}
	100% { opacity: 0.1 }
}
@-ms-keyframes imageAnimation {
	0% {
	    opacity: 0.1;
	    -ms-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 1;
	    -ms-animation-timing-function: ease-out;
	}
	70% {
	    opacity: 1;
	}
	85% {
	    opacity: 0.3;
	}
	100% { opacity: 0.1 }
}
@keyframes imageAnimation {
	0% {
	    opacity: 0.1;
	    animation-timing-function: ease-in;
	}
	20% {
	    opacity: 1;
	    animation-timing-function: ease-out;
	}
	70% {
	    opacity: 1;
	}
	85% {
	    opacity: 0.3;
	}
	100% { opacity: 0.1 }
}

/*Resplandos LOGO*/
a .logo-resplandor-icono{
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: resplandoricono 6s linear infinite 0s;
  -moz-animation: resplandoricono 6s linear infinite 0s;
  -o-animation: resplandoricono 6s linear infinite 0s;
  -ms-animation: resplandoricono 6s linear infinite 0s;
  animation: resplandoricono 6s linear infinite 0s;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
@-webkit-keyframes resplandoricono {
	0% {
	    opacity: 1;
	    -webkit-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 0.4;
	    -webkit-animation-timing-function: ease-out;
	}
	70% {
	    opacity: 0.1;
	}
	85% {
	    opacity: 0.4;
	}
	100% { opacity: 1 }
}
@-moz-keyframes resplandoricono {
	0% {
	    opacity: 1;
	    -moz-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 0.4;
	    -moz-animation-timing-function: ease-out;
	}
  70% {
      opacity: 0.1;
  }
  85% {
      opacity: 0.4;
  }
  100% { opacity: 1 }
}
@-o-keyframes resplandoricono {
	0% {
	    opacity: 1;
	    -o-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 0.4;
	    -o-animation-timing-function: ease-out;
	}
  70% {
      opacity: 0.1;
  }
  85% {
      opacity: 0.4;
  }
  100% { opacity: 1 }
}
@-ms-keyframes resplandoricono {
	0% {
	    opacity: 1;
	    -ms-animation-timing-function: ease-in;
	}
	20% {
	    opacity: 0.4;
	    -ms-animation-timing-function: ease-out;
	}
  70% {
      opacity: 0.1;
  }
  85% {
      opacity: 0.4;
  }
  100% { opacity: 1 }
}
@keyframes resplandoricono {
	0% {
	    opacity: 1;
	    animation-timing-function: ease-in;
	}
	20% {
	    opacity: 0.4;
	    animation-timing-function: ease-out;
	}
  70% {
      opacity: 0.1;
  }
  85% {
      opacity: 0.4;
  }
  100% { opacity: 1 }
}

.logo-base{
    z-index: 1;
}
.logo-glass{
    position: absolute;
    width: 335px;
    top: 235px;
    left: -21px;
}
.slogan{
    position: absolute;
    top: 254px;
    left: 34px;
    h3{

        font-family: "Roboto", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 16px;
        text-align: center;
        padding: 0;
        text-shadow: 0px 3px 6px rgb(0, 42, 117);
        color: rgba(255, 255, 255, 0.91);
    }
}
    .container {
    width: 85%;
}
.parallax-container {
    height: 160px;
}
article h3{
  background: linear-gradient(#ff0008,#7d1c20);
  color: white;
  text-align: center;
  font-size: 34px;
  border-radius: 17px 17px 0 0;
  margin: 15px 0;
  text-transform: capitalize;
  line-height: 45px;
}
article{
  margin: 0 20px 20px 30px;text-align: justify;float: inherit;
  border-bottom: solid 2px rgba(0, 42, 117, 0.35);
}
article .col.derecha{
  float: right;
}
article .col.izquierda{
  float: left;
}
article .imagen{
  margin-top: 15px;
  margin-bottom: 12px;
}
article .imagen .materialboxed{
  border: 4px solid rgb(183, 183, 183);
  border-radius: 9px;
  padding: 0px;
}
article p{
  font-size: 19px;
}
ul.lista-menu li{
    position: relative;line-height: 54px;
}
ul.lista-menu li a{width: 100%;font-size: 14.5px;line-height: 1.5;margin-left: 0;margin-right: 0px;text-transform: uppercase;height: 50px;padding-left: 2px;padding-right: 2px;padding-top: 3px;}
.btn{
color: #ffffff;text-align: center;  font-weight: bold;  text-shadow: /* Simulating Text Stroke */ -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
border: 1px solid rgba(0, 0, 0, 0.5);  border-bottom: 3px solid rgba(0,0,0,0.5);  -webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;
background: rgba(181, 181, 181, 0.25);  -o-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);  display: inline-block; text-decoration: none;
}
.btn:hover,.btn:active, .btn:focus{
    background-color: transparent;
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -o-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
.lista-menu{position: absolute;   margin-top: 85px;}
#nav-mobile .menu{
  font-size: 10px;
  text-align: center;
  margin: 0 0 10px 0;
}
nav ul.social_icons li a {
    padding: 0 0px;
    margin: 0 3px;
    line-height: 0;
    border-radius: 38px;
}
nav ul.icons-inicio a {
  background: rgba(255, 255, 255, 0.18);
  line-height: 30px;
  margin: 0 3px;
  border-radius: 10px 10px;
  transition: all 0.3s ease;
}
nav ul.icons-inicio a:hover {
     background: rgba(224, 224, 224, 0.14);
    cursor: pointer;
    line-height: 40px;
    margin: 0 3px;
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
}
#nav-mobile .btn {background-color: #0d47a1; padding: 0;}
#nav-mobile .btn:hover{background-color: #779dff;}
.contenido{ margin-bottom: 10px;}
.contenido h2{
  background: #002a75;
  padding: 6px;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
}
#materialbox-overlay {background-color: rgba(0, 2, 28, 0.63);}
.materialbox-caption {font-size: 25px;text-shadow: -2px 2px 1px black;}
/*CONTACTENOS*/
.contactos {
    background: white;
    margin-left: 0;
    margin-right: 0;
    border-right: 5px solid #002a75;
    border-bottom: 5px solid #002a75;
    border-left: 5px solid #002a75;
}
.contactos h4 {
    background: #002a75;
    padding: 6px;
    color: white;
    text-align: center;
    margin: 0;
}
.input-field {
    margin-top: 0rem;
    line-height: 0.7;
}
.input-field .prefix {
    font-size: 1.2em;
    left: 15px;
    line-height: 0.6;
    color: rgb(31, 72, 150);
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 1.3rem;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #504896;
}
.input-field .prefix.active {
  color: rgb(223, 2, 9);
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(223, 2, 9);
  box-shadow: 0 1px 0 0 rgb(223, 2, 9);
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(223, 2, 9);
}
.input-field label {
    color: #878787;
    top: 0.1rem;
    font-size: 0.8rem;
}
/**********/
footer.page-footer {
    padding-top: 10px;
}
footer h5, footer h1 {
    background: #002679;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: 10px 0 0 0;
}
footer #datos {
      padding: 14px 10px;
      height: 150px;
      line-height: 1.5;
      margin: 0;
      border-radius: 0 0 5px 5px;
      color: #ffffff;
      font-weight: 400;
      text-shadow: /* Simulating Text Stroke */ -1px -1px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 0px 0px 0 #000;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 3px solid rgba(0,0,0,0.5);
      background: rgba(181, 181, 181, 0.14);
      -o-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
      -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
      box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */ inset 0 1px rgba(255,255,255,0.3), /* Top light Line */ inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0,0,0,0.3);
      text-decoration: none;
}
footer #datos p {
    margin: 0;
}
ul.social_icons{
    list-style: none;
    padding: 0;
    margin: 0 0;
    display: block;
}
ul.social_icons li{
    display: inline-block;
    margin-right: 5px;
    margin-top: 11px;
    margin-bottom: 10px;
}
ul.social_icons .fa-facebook {
    background: #2268d4;
    background: -webkit-radial-gradient(#1286ff, #2268d4, #5cb4ff 110%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#1286ff, #2268d4, #5cb4ff 110%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#1286ff, #2268d4, #5cb4ff 110%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#1286ff, #2268d4, #5cb4ff 110%); /* Standard syntax */
}
ul.social_icons .fa-twitter {
    background: #20B8FF;
    background: -webkit-radial-gradient(#00a6ff, #1fb7ff, #ffffff); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#00a6ff, #1fb7ff, #ffffff); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#00a6ff, #1fb7ff, #ffffff); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#00a6ff, #1fb7ff, #ffffff); /* Standard syntax */
}
ul.social_icons .fa-google-plus {
    background: #D34836;
    background: -webkit-radial-gradient(#ff5151, #ff3e3e, #801a1a); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#ff5151, #ff3e3e, #801a1a); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ff5151, #ff3e3e, #801a1a); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#ff5151, #ff3e3e, #801a1a); /* Standard syntax */
}
ul.social_icons li a i {
      border-radius: 50%;
      color: #FFFFFF;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      padding: 0;
      text-align: center;
      width: 40px;
          opacity: 0.75;
}

ul.social_icons .fa-facebook:hover, ul.social_icons .fa-twitter:hover, ul.social_icons .fa-google-plus:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
    opacity: 1;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
p.ah {
    opacity: 0.6;
    transition: 0.4s;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
p.ah:hover, p.ah a:hover {
    opacity: 1;
    color: #fefefe;
    transition: 0.4s;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

footer .barra{
  background: linear-gradient(#002c5f,#103482,#1846ab,#062d82,#002679);
}
footer ul.servicios a{
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
  border-radius: 5px;
  background: rgba(0, 98, 173, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, .7);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  letter-spacing: 0.02em;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
footer div#datos a{
  background: rgba(255, 255, 255, 0.26);
  padding: 3px;
  border-radius: 10px 10px;
  color: white;
}
footer div#datos a:hover{
color: rgba(255, 108, 108, 0.83);
background: rgba(255, 255, 255, 0.26);
transition: 0.4s;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
}
footer ul.servicios a:hover{background: rgba(255, 255, 255, 0.23); color: white; border-radius: 3px;}
footer .redes-sociales{display: none;}
@media screen and (max-width: 1200px) {
  footer #datos {
      height: 175px;
  }
}
@media screen and (max-width: 993px) {
  article .imagen {
      margin-top: 0px;}
 nav ul.icons-inicio, nav ul.social_icons{display: none;}
 footer .redes-sociales{display: block;}
 footer #datos {
     height: auto;
 }
   nav .brand-logo {
     margin-left: 27px;    margin-left: -149px; left: 50%;
   }
   nav .button-collapse {
       margin: 20px -15px;
   }
   .logo-canvas{
     position: absolute;
     margin-top: -12px;
     margin-left: -228px;
     left: 50%;
     width: 441px;
     height: 283px;
   }
}
